body {
    margin: 0;
    background-color: #FFFFFE;
    font-family: serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #F5F5F5;
}

.stick-regular {
    font-family: "Stick", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FE4C6F;
  }

  .homepage-title {
    color: #531319;
    font-size: xx-large;
}
  
  .h-logoname{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 1rem;
  }
  
  .h-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }

  .rhino{
    color: #531319;  
    font-size: 2.5rem;
  }

  .login-rhino {
    color: #FE4C6F;
    font-size: 2.5rem;
  }
  
  .h-button{
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
  
  .h-button:hover{
    background-color: #531319;
    color: #FE4C6F;
  }

  .homepage-division{
    display: flex;
  }

  .calendar-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2rem 1rem;
  }

  .info-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2rem 1rem;
    gap: 1rem;
  }

  .event-info, .profile-info, .event-profile-info {
    margin: 1rem 2rem;
    padding: 1rem;
    box-shadow: 4px 4px 8px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
  }

  .profile-info{
    margin: 2rem 25rem;
  }

  .event-profile-info{
    margin: 1rem 1rem;
    height: 14rem;
    width: 14rem;
  }

  .event-list{
    display: flex;
    flex-direction: row;
  }

  .event-item-bar{
    display: flex;
    justify-content: space-between;
  }

  .event-title{
    font-weight: bold;
    font-size: large;
    display: flex;
    gap: 1rem;
  }

  .small-page-title{
    color: #531319;
    background-color: #FE4C6F;
    font-size: x-large;
    text-align: center;
    width: 50%;
    border-radius: 0.25rem;
    margin: 1rem 0rem;
  }

  .login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 5rem;
  }

  .login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #FE4C6F;
    max-width: 15rem;
    max-height: 13rem;
  }

  .form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .login-title{
    font-weight: bold;
  }

  .family {
    height:32rem;
    border-radius: 1rem;
  }

  .login-text {
    width: 28rem;
    font-size: x-large;
  }

  .vertical-login {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .car-calendar{
    height: 13rem;
    margin: 0rem 1rem;
  }

  .car-profile{
    height: 5rem;
    margin: 1rem;
  }

  .logout {
    text-decoration: none;
    color: black;
  }
  .cars-card-container{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
  }

  .car-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    padding: 2rem;
    width: 25rem;

    background: #fafafa;
    border: 1px solid white;
    box-shadow: 3px 3px 9px hsla(240, 14%, 69%, 0.2);
  }

  .car-list-img{
    height: 13rem;
  }
  .car-list-img-container{ 
    display: flex;
    justify-content: center;
  }

  .car-name{
    display: flex;
    justify-content: space-between;
  }

  .car-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: gray;
    gap: 1rem;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    padding-bottom: 1rem;
  }

  li{
    list-style: none;
  }

  ul{
    padding: 0rem;
    margin: 0rem;
  }

  .price-text{

  }

  .car-title-text{
    font-size: x-large;
  }

  .car-feature{
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .rhino-red{
    color: #FE4C6F;
  }